.avatar {
  width: 50px;
  height: 50px;
  margin-left: -42px;
  border-radius: 50%;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.v-avatar img {
  border-radius: 50%;
  display: inline-flex;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

/* @import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");

.comment-container {
  width: 60%;
  margin: 2rem auto;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: -42px;
  border-radius: 50%;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.v-avatar img {
  border-radius: 50%;
  display: inline-flex;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.v-card {
  text-decoration: none;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

button {
  font: inherit;
  overflow: visible;
  text-transform: none;
  background-color: transparent;
  border-style: none;
  color: inherit;
}

img {
  border-style: none;
}

.caption {
  font-weight: 400;
  font-size: 5px !important;
}

.theme--light.v-btn {
  color: rgba(0, 0, 0, 0.87);
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #f5f5f5;
}

.theme--light .v-card {
  box-shadow: rgba(0, 0, 0, 0.11) 0 15px 30px 0px,
    rgba(0, 0, 0, 0.08) 0 5px 15px 0 !important;
}

.theme--light.application .v-card {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
  color: #102c3c !important;
}

.theme--light.v-card,
.theme--light.v-sheet {
  background-color: #fff;
  border-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

a,
a:hover {
  text-decoration: none !important;
}

.wrapper {
  overflow: auto;
}

.comment {
  overflow-y: auto;
  margin-left: 32px;
  margin-right: 16px;
}

.comment p {
  font-size: 14px;
  margin-bottom: 7px;
}

.displayName {
  margin-left: 24px;
}

.card,
.card {
  padding: 32px 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .comment-container {
    width: 90%;
  }
  .comments {
    padding: 32px;
  }
} */
