.grid-container-editpost {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);

  align-content: center;
  height: 100vh;
}

.grid-item-form {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: center;
}

.grid-item-old-values {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-item-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item-image > img {
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
