.flex-container {
  display: flex;
}

.toolbar-left {
  display: flex;
  position: absolute;

  left: 0rem;

  padding-top: 2.3em;
  padding-left: 40%;

  border: solid 3px rgb(62, 166, 214);
  background-color: rgb(68, 179, 179);
}

.toolbar-right {
  display: flex;
  position: absolute;

  right: 0rem;

  padding-top: 2.3em;
  padding-right: 40%;

  border: solid 3px rgb(62, 166, 214);
  background-color: rgb(68, 179, 179);
}

.logo {
  margin: 0 auto;
}

.button {
  display: flex;
  position: absolute;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  right: 0rem;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  right: 10rem;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}
