.flex-container-toolbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(58, 106, 138);
}

.flex-container-buttons {
  display: flex;
  width: 15rem;

  justify-content: space-around;
}

.toolbar-text {
  color: white;
  text-align: center;
}

.toolbar-left {
  width: 10rem;
  text-align: center;
}
