@font-face {
  font-family: "Roboto";
  /* font-style: normal; */
  /* font-weight: 400; */
  src: local("Lato"), url(../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

.roboto {
  font-family: "Roboto";
  color: rgba(73, 69, 69, 1);
}

.postWrapper {
  display: grid;
  grid-template-columns: 0.7fr 4fr 2fr;
  grid-column-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
}

.postWrapper > div {
  /* background: #eee; */
  padding: 1em;
}

/* .postWrapper > div:nth-child(odd) {
  background: #ddd;
} */

.postImage {
  position: sticky;
  top: 0;
}

.main-img {
  margin-top: 4%;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.postInfo {
  grid-row: auto / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr 1fr 8fr;
}

.username > p {
  text-align: center;
}

.postFeed-nested {
  display: grid;
}

.postTags {
  padding: 15px;
  /* background: rgb(255, 190, 190); */
  border-bottom: rgb(165, 165, 165) 1px solid;
}

.postPrice {
  /* background: rgb(174, 200, 255); */
  padding: 15px;
  border-bottom: rgb(165, 165, 165) 1px solid;
}

.postComments {
  /* background: rgb(233, 198, 145); */

  padding: 15px;
}

.recImages-nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.recImage {
  border: #333 1px solid;
  padding: 1em;
  width: 250px;
  height: 320px;
}

.recImages-nested > h1 {
  margin-top: 10%;
  margin-bottom: 4%;
  grid-column: auto / span 3;
  justify-self: center;
  align-self: top;
  /* background: rgb(195, 151, 204); */
}

.flexbox-tags {
  display: flex;
  flex-wrap: wrap;
}
